@import "tailwindcss";
html {
    scroll-behavior: smooth;
  }
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  @keyframes slideUp {
    from { transform: translateY(30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
  
  .animate-slideUp {
    animation: slideUp 0.4s cubic-bezier(0, 0, 0.2, 1);
  }
  
  .pause {
    animation-play-state: paused;
  }